<div
  class="relative h-screen bg-gradient-to-b from-brandColor to-secondaryColor"
>
  <svg
    class="absolute bottom-0 w-full h-[35vh] min-h-[100px] max-h-[250px]"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
    shapeRendering="auto"
  >
    <defs>
      <path
        id="gentle-wave"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="parallax">
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="0"
        class="fill-[#ffffffb3] animate-move-forever"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="3"
        class="fill-[#ffffff80] animate-move-forever"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="5"
        class="fill-[#ffffff4d] animate-move-forever"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="7"
        class="fill-[#fff] animate-move-forever"
      />
    </g>
  </svg>
</div>
